
body{
    font-family: 'EB Garamond', serif;
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.opinion-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.opinion-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40, 101, 48, 0.5);
}

.opinion-html .enter-in,
.opinion-form .group .check{
	display:none;
}
.opinion-html .tab,
.opinion-form .group .label,
.opinion-form .group .button{
	text-transform:uppercase;
}
.opinion-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.opinion-html .enter-in:checked + .tab{
	color:#fff;
	border-color:#36ee11;
}
.opinion-form .group{
	margin-bottom:15px;
}
.opinion-form .group .label,
.opinion-form .group .input,
.opinion-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
textarea {
	box-sizing: border-box;
	font: 12px arial;
	height: 200px;
	margin: 5px 0 15px 0;
	padding: 5px 2px;
	width: 100%;  
  }
.opinion-form .group .input,
.opinion-form .group .textarea,
.opinion-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.opinion-form .group .label{
	color:#aaa;
	font-size:12px;
}
.opinion-form .group .button{
	background:#1161ee;
}
.opinion-form .group .check:checked + label{
	color:#fff;
}
.opinion-form .group .check:checked + label .icon{
	background:#1161ee;
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
a{
    text-decoration:none;
}
.testimonios{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.testimonios__header{
    letter-spacing:1px;
    margin:50px 0px;
    padding:10px 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonios__header h1{
    font-size:2.9rem;
    font-weight:500;
    background-color: rgba(211, 140, 9, 0.3);
    color:white;
    padding:10px 20px;
}
.testimonios__header span{
    font-size: 2.2rem;
    color:#252525;
    margin-bottom:25px;
    text-transform:uppercase;
}
.testimonios__contenedor{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width:100%;
}
.testimonios__caja{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color:white;
    padding:20px;
    margin:15px;
    cursor:pointer;
}
.perfil-img{
    width:50px;
    height:50px;
    border-radius:50%;
    overflow:hidden;
    margin-right:30px;
}
.perfil-img img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:center;
}
.perfil{
    display:flex;
    align-items:center;
}
.name-user{
    display:flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size:1.3rem;
    letter-spacing:0.5px;
}
.name-user span{
    color:#979797;
    font-size:1.1rem;
}
.reseñas{
    color:#f9d71c;
}
.caja-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
}
.clientes__comentarios p{
    color:#4b4b4b;
}
::selection{
    color:white;
    background-color:#252525;
}