@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bahnschrift SemiBold', sans-serif;
    
}

body{
    background: url(../assets/wallpaper/wallpaper.png);
    background-size: cover;
    position: relative;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;

}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px, 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(0,0,0,0.4);
    
}
header .logo{
    margin-left: 100px;
    margin-top: 10px;
    position: relative;
    max-width: 150px;
}
header ul{
    position: relative;
    display: flex;
    right: 6rem;
}
header ul li{
    list-style: none;
}
header ul.active{
    visibility: visible;
    opacity: 1;
}
header ul li a{
    display: inline-block;
    color: #fff;
    font-weight: 400px;
    margin-left: 40px;
    text-decoration: none;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox
{
    position:relative;
    max-width: 600px;
}
.content .textBox h2{
    color: #fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight:900;
    text-transform: uppercase;
}
.content .textBox h2 spam{
    font-size: 2em;
}
.content .textBox p{
    color:#fff;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background:#fff;
    color: #111;
    border-radius:40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.content .imgBox{
    width: 600px;
    display: flex;
    padding-right: 50px;
    margin-top:50px;
    justify-content: flex-end;
}
.content .imgBox img{
    max-width: 260px;
}
.sci{
    position: absolute;
    top:50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    filter: invert(1);
    margin: 5px 0;
    transform: scale(0.6);
}
@media(max-width: 991px){
    section{
        padding: 40px;
    }
    header{
        padding: 20px 40px;
    }
    header .logo{
        position: relative;
        max-width: 60px;
    }
    header ul{
        position: fixed;
        top :0;
        left :0;
        width: 100%;
        height: 100%;
        background:rgba(255, 255, 255, 0.75);
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.2s;   
        visibility: hidden;
        opacity: 0;
    }
    header ul li a{
     display: inline-block;
     color: black;
     font-weight: 400;
     margin-left: 0;
     text-decoration: none;
     font-size: 2em;
     margin: 10px 0;   
    }
    header ul li a:hover{
        color: darkblue;
    }
    .toggleMenu{
        position: relative;
        width: 40px;
        height: 40px;
        background: url('../assets/menu.png');
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        z-index: 2;
        cursor: pointer;
        
    }
    .toggleMenu.active{
        background: url('../assets/close.png');
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
        filter: invert(1);
    }
    .content{
        flex-direction: column;
        margin-top: 80px;
    }
    .content .textBox{
    position: relative;
    max-width: 100%;
    padding-right: 20%;
    }
    .content .textBox h2{
        font-size: 3em;
    }
    .content .textBox a{
        font-size: 14px;
        padding: 8px 15px;
    }
    .content .imgBox{
        width: 100%;
        display: flex;
        padding-right: 0;
        margin-top: 50px;
        justify-content: center;
    }
    .content .imgBox img{
        max-width: 150px;
    }
    .thumb li img{
        max-width: 30px;
    }
    .sci{
        position: absolute;
        top: 50%;
        right: 0;
        width: 50px;
        background:rgba(0,0,0,0.2);
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*****PAGINA DE OPINIONES******/

}
#background-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}